<div class="theme-secondary theme-bg theme-color">
  <header>
    <div class="l-jumbo">
      <h1 style="background: transparent; color: white;">{{ introHeading }}</h1>
      {% if introSummary %}
        <div class="l-stack l-measure">{{ introSummary | safe }}</div>
      {% endif %}
    </div>
  </header>
</div>
